:root {
  --main-bcgrnd-color: #e5e5e5;
  --main-font-color: #212121;
  --button-color: #2196f3;
  --add-font-color: #000000;
  --paragraph-color: #757575;
  --white-color: #ffffff;
  --second-bcgrnd-color: #2f303a;
  --third-bcgrnd-color: #f5f4fa;
  --rgba-color: rgba(255, 255, 255, 0.6);
  --border-header: #ececec;
}
/* Глобальные стили в Body */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bcgrnd-color);
  color: var(--main-font-color);
}
/* Отключение точки рядом в списках */
.list {
  list-style: none;
  font-style: normal;
}
/* Скрываем заголовок которого нет на макете */
.hiden-title {
  display: none;
}
.header {
  background-color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}
/* Удаляем подчеркивание в ссылках */
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--add-font-color);
}

.main .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}

.header-logo {
  display: block;
  padding-left: 215px;
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--add-font-colour);
}

.header-logo-web {
  color: var(--button-color);
}

.header-list {
  display: flex;
  margin-right: 331px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.main .items:not(:last-child) {
  margin-right: 50px;
}

.main {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.main .goto-list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 215px;
  padding: 0;
}

.main .address:not(:last-child) {
  margin-right: 50px;
}

.header-list .link:hover,
.header-list .link:focus,
.goto-list .link:hover,
.goto-list .link:focus {
  color: var(--button-color);
}

.header .studio,
.header .portfolio {
  color: var(--button-color);
}
.goto-list .contacts {
  color: var(--paragraph-color);
}
.hero {
  background-color: var(--second-bcgrnd-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}
.hero-title {
  width: 696px;

  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero .hero-button {
  display: block;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);

  border-radius: 4px;
  border: transparent;
  background-color: var(--button-color);

  cursor: pointer;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  color: var(--add-font-color);
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}

.feature .feature-title {
  width: 270px;

  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature .feature-list {
  display: flex;

  margin-left: 215px;
  margin-right: 215px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.feature .items:not(:last-child) {
  margin-right: 30px;
}

.feature .feature-paragraph {
  width: 270px;

  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.work {
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
}

.work .work-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.work .list {
  margin-top: 0;
  padding: 0;
}

.work .img {
  display: block;
  margin: 0;
}

.team {
  background-color: var(--third-bcgrnd-color);
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team .team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .team-list {
  margin: 0;
  padding: 0;
}

.team .team-line {
  background-color: var(--white-color);
  padding-bottom: 30px;
}

.team .team-header {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .team-garagraph {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

.team-list .img {
  display: block;
  margin: 0;
}

.footer {
  background-color: var(--second-bcgrnd-color);
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 215px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer .footer-logo-web {
  color: var(--button-color);
}

.footer .list {
  margin-left: 215px;
}

.footer .footer-link,
.footer .footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer .footer-link {
  color: var(--rgba-color);
}

.footer .footer-link:hover,
.footer .footer-adress:hover,
.footer .footer-link:focus,
.footer .footer-adress:focus {
  color: var(--button-color);
}

.footer .list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.footer .goto:not(:last-child) {
  margin-bottom: 9px;
}

/* Стили для портфолио */
.filter {
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter .filter-list {
  /* display: flex; */
  margin-top: 0;
  padding: 0;
}
.filter-button {
  display: inline-block;
  margin-bottom: 50px;
  padding: 8px 22px;
  min-width: 73px;
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  border: transparent;
  border-radius: 4px;
  background-color: var(--third-bcgrnd-color);
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--button-color);
}
.filter .filter-search {
  background-color: var(--white-color);
}

.filter .img {
  display: block;
  margin: 0;
}

.filter .filter-title {
  margin-top: 20px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter .filter-paragraph {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
